.cover__subtitle {
  box-sizing: border-box;
  margin: 32px auto 0;
  padding: 0;
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

@media(max-width: 594px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 16px;
  }
}