.lead__image {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 148px;
  max-width: 100%;
}

@media(max-width: 1024px) {
  .lead__image {
    padding: 0 48px;
  }
}

@media(max-width: 768px) {
  .lead__image {
    padding: 0;
  }
}